@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Source+Sans+Pro:wght@300;600&family=Source+Serif+Pro:wght@600&display=swap');



:root {
    /* change the values below to your colors from your palette */
    --primary-color: #121e32   ;
    --secondary-color: #2f466c ;
    --accent1-color: #bcd2de;
    --accent2-color: #d3cada;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Source Serif Pro";
    --paragraph-font: "Source Sans Pro Light 300", Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #2f466c;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #2f466c; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #2f466c  ;
    --nav-link-color: white;
    --nav-background-color: #2f466c;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #50617d;
  }

  .large-img img{
    width: 85%;
    height: 85%;
    object-fit: cover;
    border: #121e32 solid 0.5em;
    border-radius: 0.5em;
  }
section{
  background-color:rgb(188,210,222);
  background: radial-gradient(circle, rgba(100,100,195,0.5) 30%, rgba(58,81,117,0.4100486223662885) 73%, rgba(47,70,108,0.6709886547811994) 100%);
  color: #bcd2de;
  padding: 5em;
  margin: 5em auto;
  height: 100%;
  width: 100%;
  border-radius: 1em;
}

section h4 {
  font-family: "Source Serif Pro";
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: -1em;

}

section img {
  object-fit: cover;
  border-radius: 50%;
  padding: 1em;
  width: 100%;
}
.contactus img{
  width: 125px;

}

.contactus {
  padding: 4em;
  border: #121e32 solid 0.5em;
  width: 90%;
  background-color: #121e32;
  margin: 0 auto;
  border-radius: 1em;
}


.content {
    text-align: center;
    grid-template-columns: 150px auto;
    border-radius: 1em;
}

.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #2f466c;
    color: white;
    padding: 2em;
    font-family: "Source Sans Pro";
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 300;
    text-align: center;
    border-radius: 1em;
    width: 80%;
    margin: 0 auto;
}

.about-me img {
  width: 20em;
  height: 20em;
  object-fit: cover;
  margin: auto;
  border-radius: 1em;
}  



.about-me p {
  margin: 0 auto;
  text-align: center;
  padding: 70px;
}

.token {
    display: flex;

    margin: 0.5em;
    border-radius: 50%;
    width: 10em;
    height: 10em;
    
    z-index: 2;
    margin: 0 auto;
    border: #2f466c solid 2px;
}

.token-container {
  align-items: center;
  margin-top: -25em;
  margin-bottom: 17.5em;
  z-index: 1;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
 
  z-index: -1;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.slider {
  width: 1000px;

  height: 600px;
  object-fit: cover;
  border-radius: 1em;
  background-color: #121e32;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 30px 0px 30px 0px;
  bottom: 8px;
  width: 100%;
  text-align: center;
  margin-top: -70px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 5px 12px;
  position: absolute;
  top: 0;
  background-color: #121e32;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 5px;
  z-index: 3;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10px 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin: .5em auto auto auto;

}

.active, .dot:hover {
  background-color: #b488ae;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#myHeader {
  z-index: 2;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 10;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

body {
  background-image: url("Images/backgroundLight.png");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: -0px;
}

.title {
    font-family: var(--paragraph-font);
    font-size: 1em;
    color: white;
    text-shadow: 2px 2px 2px var(--accent2-color);
    margin-bottom: 0.5em;
    background-color:rgb(47,70,108);
    background: linear-gradient(90deg, rgba(47,70,108,1) 0%, rgba(47,70,108,0.9) 32%, rgba(47,70,108,0.8460291734197731) 54%, rgba(47,70,108,0.29659643435980554) 100%); ;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
    padding: 0;
    width: 75%;
    grid-area: 1/1/2/2;
    margin-left: 18em;
    z-index: 0.5;
    
    border-top:#121e32 solid 10px;
}

h1, h2, h3, h4 {
  font-family: var(--heading-font);
}

p {
  font-family: var(--paragraph-font);
}

.logo {
    width: 4em;
    display: flex;
    border-radius: 50%;
    border: #2f466c solid 3px;
    
    }
.logo img {
    width: 100%;
    height: 100%;
    
}
.logo a {
    text-decoration: none;
}

.navbar {
    overflow: hidden;
    background-color: #121e32;
    width: 24em;
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
    border-radius: 0.5em;
    grid-area: 1/1/2/2;
    z-index: 1;
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 18px 0px 10px 18px;
    text-decoration: none;
    font-family: var(--paragraph-font);
  }
  

  .dropdown {
    float: left;
    overflow: hidden;
    padding: 1.3em 1em 1em 1em;
    font-size: 1em;
  }



  
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: ;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .message {
    font-family: "Source Sans Pro Light 300", Helvetica, sans-serif;
    font-size: 1em;
    color: #e4ddea;
    background-color: rgb(188,210,222);
    background: radial-gradient(circle, rgba(43, 66, 117, 0.6) 30%, rgba(47,70,108,0.84) 100%);
    padding: 1em;
    border-radius: 0.5em;
    width: 80%;
    margin: auto;
    display: block;
  }

  .heading {
    font-family: "Source Sans Pro Light 300", Helvetica, sans-serif;
    color: #f8efff;
    background: rgb(122, 122, 122);
    background: radial-gradient(circle, rgba(89, 86, 186, 0.5) -20%, rgba(58,81,117,0.8) 90%, rgba(47,70,108,0.6709886547811994) 100%);
    padding: 0em;
    border-radius: 0.5em;
    width: 10em;
    margin: auto;
    display: block;
    text-shadow: 2px 2px 2px var(--accent2-color);
    margin: 12em auto auto auto;
  }

  div.message p{
    color: #e4ddea;
    text-decoration: none;
    opacity: 1;
    
  }

.scroll-head {
  background-color: rgb(89,77,94);
  background: linear-gradient(0deg, rgba(71, 63, 87, 0.8) 1%, rgba(113, 97, 124, 0.6) 50%, rgba(89,77,94,0.9) 100%);
  color: #ffffff;
  text-shadow: 2px 2px 2px var(--accent1-color);
  border: #32122d solid 2px;
  border-radius: 2em;
  width: 30em;
  margin: 8em auto 2em auto;
  height: 3em;
  

}

hr {
  border: 2px solid #32122d;
  width: auto;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 0em;
}

.scroll-head h2 {
  font-family: var(--heading-font);
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto;
  padding: .4em;

}

.list-container {
  display: block;
  margin: 1.5em auto;
  text-align: center;
  width: fit-content;
  background-color: rgba(211,202,218,0.5);
  background: radial-gradient(circle, rgba(113, 97, 124, 0.6) 0% , rgba(89,77,94,0.9)) 10%;
  color: white;
  border: #32122d solid 2px;
  
}

li {
  margin: 15px 0;
  text-shadow: #d3f0ff 2px 2px 2px;
  color: #ffffff;
  padding: 15px 30px; 
}

.scroll-foot {
 
  color: #dff4ff;
  text-shadow: 2px 2px 2px var(--accent1-color);
  background-color: rgb(202,193,209);
  background: linear-gradient(0deg, rgba(89,77,94,0.8) 1%, rgba(113, 97, 124, 0.6) 50%, rgba(89,77,94,0.9) 100%);
  border-radius: 2em;
  width: 30em;
  margin: 2em auto 8em auto;
  height: 3em;
  border: #32122d solid 2px;

}

.mission-container {
  display: block;
  margin: 1.5em auto;
  text-align: center;
  width: 100%;
  height: 14em;
  background-color: rgb(188,210,222);
  background: radial-gradient(circle, rgba(43, 66, 117, 0.6) 30%, rgba(47,70,108,0.84) 100%);
  padding: 1em;
  color: #dff4ff;
  border: #353134 solid 2px;
  text-shadow: #37323a 2px 2px 2px;
}
.mission-container p {
  color: #121e32;
  text-shadow: none;
  border: #2f466c solid 2px;
  padding: 1em;
  background-color:rgba(255, 255, 255, 0.7);
  width: 80%;
  margin: 0 auto;

}

.break {
  display: block;
  margin: 6em auto;
  text-align: center;
  width: 100%;
  height: 1em;
  background-color:  rgb(47, 70, 108, 1);
  
}

@media screen and (max-width: 900px) {
    .title {
      font-family: var(--paragraph-font);
      font-size: 1em;
      color: white;
      text-shadow: 2px 2px 2px var(--accent2-color);
      margin-bottom: 0.5em;
      background-color:rgb(47,70,108);
      background: linear-gradient(90deg, rgba(47,70,108,1) 0%, rgba(47,70,108,0.9) 32%, rgba(47,70,108,0.8460291734197731) 54%, rgba(47,70,108,0.29659643435980554) 100%); ;
      clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
      padding: 0;
      width: 50%;
      grid-area: 1/1/2/2;
      margin-left: 20em;
      
      border-top:#121e32 solid 10px;
    }
    .logo {
        width: 4em;
        display: flex;
        border-radius: 50%;
    }
    .logo img {
        width: 100%;
        height: 100%;
    }
    .logo a {
        text-decoration: none;
    }
    .navbar {
      overflow: hidden;
      background-color: #121e32;
      width: 24em;
      clip-path: polygon(0% 0%, 100% 0%, 84% 100%, 0% 100%);
      border-radius: 1em;
      grid-area: 1/1/2/2;
      z-index: 1;
    }

    .navbar a {
      float: left;
      font-size: 18px;
      color: white;
      text-align: center;
      padding: 35px 0px 10px 18px;
      text-decoration: none;
      font-family: var(--paragraph-font);
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
      color: #d3cada;
      background-color: #121e32;
    }
    .slideshow-container {
      max-width: 700px;
      
      position: absolute;
      margin: 0 auto;
    }
    
    .slider {
      width: 500px;
    
      height: 400px;
      object-fit: cover;
      border-radius: 1em;
      margin: 0auto;
    }
    .token-container {
      align-items: center;
      margin-top: -20em;
      margin-bottom: 10em;
      z-index: 1;
    }
    .overlay {
      background-color: rgba(0,0,0,0.3);
      width: 500px;
    
      height: 400px;
      object-fit: cover;
      border-radius: 1em;
      position: relative;
      margin: 0 auto;
    }
    .scroll-head {
     
      color: #dff4ff;
      text-shadow: 1px 1px 1px var(--accent1-color);
    
      border-radius: 2em;
      width: 30em;
      margin: 6em auto auto auto;
      height: 3em;
    
    }
    
    
    .scroll-head h2 {
      font-family: var(--heading-font);
      font-size: 1.5em;
      text-align: center;
      margin: 0 auto;
      padding: .4em;
    }
    
    .list-container {
      display: block;
      margin: 1.5em auto;
      text-align: center;
      width: fit-content;
      
      color: #bcd2de;
    }
    
    li {
      margin: 10px 0;
      padding: 10px;
    }
    .scroll-foot {
      
      color: #dff4ff;
      text-shadow: 1px 1px 1px var(--accent1-color);
    
      border-radius: 2em;
      width: 30em;
      margin: auto auto 8em auto;
      height: 3em;
    
    }
    .dropdown {
      float: left;
      overflow: hidden;
      padding: 1.3em 1em 1em 1em;
      font-size: 10%;
      margin-top: 15px;
      width: 100%;
    }
    .about-me {

      background-color: rgb(188,210,222);
      background: radial-gradient(circle, rgba(43, 66, 117, 0.6) 30%, rgba(47,70,108,0.84) 100%);
      color: white;
      font-family: "Source Sans Pro";
      font-size: 1.2em;
      line-height: 1.5em;
      font-weight: 300;
      text-align: center;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      align-content: center;
      width: 80%;
      margin: 0 auto;
      border-radius: 1em;

  } 
  .about-me img {
    padding: 2em;
    width: 20em;
    height: 20em;
    object-fit: cover;
    grid-row: 1/2;
    margin: 0 auto;
    grid-column: 2/3;
    border-radius: 3em;
  }  
  .about-me p {
    text-align: center;
    margin: 0 auto;
    padding: 1em;
    width: 100%;
    margin: 0 auto;
    grid-row: 2/3;
    margin: 0 auto;
    grid-column: 2/3;
  }

}